In [1]:
print("Hello")

Hello

In [8]:
def sum(n1:int,n2:float):
    return (n1+n2)

print(sum(4,5.00))

9.0

In [9]:
20-3

17

In [1]:
print("hello Ujjal")

hello Ujjal

In [5]:
tup1 = ("BMW","BMW","AUDI","MARCEDES")
print(tup1)

('BMW', 'BMW', 'AUDI', 'MARCEDES')

In [2]:
print(len(tup1))

3

In [ ]:
a = lambda x: x * 10

In [8]:
print(a(5))

50

In [9]:
tup1 = ("BMW","Audi","Marcedes")
myTup =iter(tup1)
print(next(myTup))
print(next(myTup))

BMW
Audi

In [10]:
dict1 = {1:"apple",2:"organge",3:"banana",4:"kiwi"}

In [11]:
print(dict1)

{1: 'apple', 2: 'organge', 3: 'banana', 4: 'kiwi'}

In [12]:
print(dict1.get(1))

apple

In [14]:
for x,y in dict1.items():
    print(f"Item number is: {x} --> value is = {y}")

Item number is: 1 --> value is = apple
Item number is: 2 --> value is = organge
Item number is: 3 --> value is = banana
Item number is: 4 --> value is = kiwi

In [1]:
animals = [{"name": "Dog", "age": 11}, {"name": "Lizard", "age":12}, {"name": "Lion", "age":23},{"name": "Elephant", "age": 34}]

for animals in filter(lambda i: i["age"] % 2 ==0, animals):
    print(animals["name"])

Lizard
Elephant

In [14]:
country = ['India', "Bangladesh", "Canada", "Japan", "Israel"]

In [16]:
while country:
    print(country.pop())

Israel
Japan
Canada
Bangladesh
India

In [17]:
num = 19
while num > 0: num -=2; print(num)

17
15
13
11
9
7
5
3
1
-1

In [19]:
for key,value in enumerate(['The', 'brown', 'for', 'jumped', 'over', 'the', 'lazy', 'dog']):
    print(key,value)

0 The
1 brown
2 for
3 jumped
4 over
5 the
6 lazy
7 dog

In [25]:
from itertools import zip_longest

first = ['Linoel', 'Cristiano' , 'Mohamed', 'Linoel', 'Cristiano' , 'Mohamed']

second = ['Ronaldo', 'Messi', 'Neymar']

for i in zip(first,second):
    print(i)

('Linoel', 'Ronaldo')
('Cristiano', 'Messi')
('Mohamed', 'Neymar')

In [32]:
a = ('S','I', 'M', 'P', 'L', 'I', "L", 'E', 'A', 'M', 'P')
x =slice(5)
print(a[x])

('S', 'I', 'M', 'P', 'L')

In [33]:
def absolute(x):
    return (x if x >= 0 else -x)

print(absolute(-10))

10

In [34]:
add = lambda a,b: a+b

print(add(5, 3))

8

In [37]:
checkEvenOrOdd = lambda x: x % 2==0 and "Even" or "Odd"

print(checkEvenOrOdd(10))

Even

In [39]:
list1 = [10,40,50,60,44,33,57,87,45,32]

newList = list(map(lambda x: x*2,list1))

print(newList)

[20, 80, 100, 120, 88, 66, 114, 174, 90, 64]

In [40]:
class NewClass:
    x = 50
    def printValue(self):
        print(self.x)

obj = NewClass()

obj.printValue()

50

In [44]:
class Student:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def display(self):
        return f"Student Name: {self.name}, Age: {self.age}"
    def updateAge(self, newAge):
        self.age = newAge


s1 = Student("John", 20)
s1.name = "Ujjal"
s1.updateAge(26)
print(s1.display())

Student Name: Ujjal, Age: 26

In [45]:
del s1.name

In [46]:
print(s1.display())

AttributeError: 'Student' object has no attribute 'name'