In [1]:
print("Hello")

Hello

In [8]:
def sum(n1:int,n2:float):
    return (n1+n2)

print(sum(4,5.00))

9.0

In [9]:
20-3

17

In [1]:
print("hello Ujjal")

hello Ujjal

In [5]:
tup1 = ("BMW","BMW","AUDI","MARCEDES")
print(tup1)

('BMW', 'BMW', 'AUDI', 'MARCEDES')

In [2]:
print(len(tup1))

3

In [ ]:
a = lambda x: x * 10

In [8]:
print(a(5))

50

In [9]:
tup1 = ("BMW","Audi","Marcedes")
myTup =iter(tup1)
print(next(myTup))
print(next(myTup))

BMW
Audi